<!-- <nz-layout style="min-height: 100%;">
  
  <nz-header>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item class="h1 title">{{title}}</li>
      <li nz-menu-item (click)="go('/')">nav 1</li>
      <li nz-menu-item (click)="go('/content')">nav 2</li>
      <li nz-menu-item (click)="go('/auth')">nav 3</li>
      
      
      <li nz-submenu nzOpen nzTitle="Dropdown" nzIcon="user" nz-dropdown [nzDropdownMenu]="menu">

      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item (click) ="go('/auth')">1st menu item</li>
          <li nz-menu-item (click)="go('/register')">2nd menu item</li>
          <li nz-menu-item>3rd menu item</li>
          <li nz-menu-item nzDanger>4th danger item</li>
        </ul>
      </nz-dropdown-menu>
    </ul>
  </nz-header>
  <nz-content class="content">
    <router-outlet></router-outlet>
  </nz-content>
  <nz-footer style="background-color: dimgrey;"  >ArifDeğirmenci © 2023 Copyright</nz-footer>
</nz-layout> -->
<app-sidebar></app-sidebar>