<div class="form-container">
    <h2>Menu</h2>
    <div class="col flex-grow">
        <div class="input-group">
        <select class="form-select" style="max-width:30%" fdprocessedid="" >
          <option>Türkiye</option>
          <option>İtalya</option>
          <option>Japon</option>
        </select>
        
        <input type="text" placeholder="Food or cafe name" class="form-control" name="">
        </div>
      </div>
      <div class="col-auto">
        <button nz-button nzType="primary">
            <span nz-icon nzType="search"></span>
            Search
          </button>     
      </div>
      <br>
      <br>
    <div class="content-body">
        <nav class="row gy-4">
    <!-- <nz-card style="width:150px;" nzTitle="Card title" >
        <p>arif</p>
    </nz-card> -->
    <div class="form-container">
    <!-- <div nz-row>
      <div nz-col [nzXs]="{ span: 5, offset: 1 }" [nzLg]="{ span: 6, offset: 2 }">
        <div class="col-xl col-lg-2 col-md-3 col-4">
          <a href="#" class="item-link text-center">
          <span class="icon icon-lg mb-2 rounded-3">
              <img
              nz-image
              width="42px"
              height="42px"
              nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"
              alt=""
            />
          </span>
          <span class="text"> Fast food </span>
          </a>
        </div>
      </div>
      
      <div nz-col [nzXs]="{ span: 11, offset: 1 }" [nzLg]="{ span: 6, offset: 2 }">  <div class="col-xl col-lg-2 col-md-3 col-4">
        <a href="#" class="item-link text-center">
        <span class="icon icon-lg mb-2 rounded-3">
            <img
            nz-image
            width="42px"
            height="42px"
            nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"
            alt=""
          />
        </span>
        <span class="text"> Fast food </span>
        </a>
      </div></div>
      
      <div nz-col [nzXs]="{ span: 5, offset: 1 }" [nzLg]="{ span: 6, offset: 2 }">  <div class="col-xl col-lg-2 col-md-3 col-4">
        <a href="#" class="item-link text-center">
        <span class="icon icon-lg mb-2 rounded-3">
            <img
            nz-image
            width="42px"
            height="42px"
            nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"
            alt=""
          />
        </span>
        <span class="text"> Fast food </span>
        </a>
      </div>
    </div>
    </div>
    </div> 
  </nav> -->
       <br>
        <br>
        <div class="row">
            <div class="col-lg-4 col-md-6">
              <article class="card card-product-grid">
              <a href="#">
                <img src="https://media.istockphoto.com/id/1165399909/photo/delicious-meal-on-a-black-plate-top-view-copy-space.jpg?s=612x612&w=0&k=20&c=vrMzS4pY_QjiDtCzpVE3ClKqbU636fb4CKH0nlsduC4=" height="200" class="card-img-top" alt="product image">
              </a>
              <div class="card-body pt-0 ">
                <div class="pt-3 pe-5 d-flex justify-content-center " >
                <h6 class="card-title mb-0">
                  <a href="#">Tavuk </a>
                </h6>
                </div>
              </div>
              </article>
            </div>
            <div class="col-lg-4 col-md-6">
                <article class="card card-product-grid">
                <a href="#">
                  <img src="https://media.istockphoto.com/id/1165399909/photo/delicious-meal-on-a-black-plate-top-view-copy-space.jpg?s=612x612&w=0&k=20&c=vrMzS4pY_QjiDtCzpVE3ClKqbU636fb4CKH0nlsduC4=" height="200" class="card-img-top" alt="product image">
                </a>
                <div class="card-body pt-0 ">
                  <div class="pt-3 pe-5 d-flex justify-content-center " >
                  <h6 class="card-title mb-0">
                    <a href="#">Et </a>
                  </h6>
                  </div>
                </div>
                </article>
              </div>
              <div class="col-lg-4 col-md-6">
                <article class="card card-product-grid">
                <a href="#">
                  <img src="https://media.istockphoto.com/id/1165399909/photo/delicious-meal-on-a-black-plate-top-view-copy-space.jpg?s=612x612&w=0&k=20&c=vrMzS4pY_QjiDtCzpVE3ClKqbU636fb4CKH0nlsduC4=" height="200" class="card-img-top" alt="product image">
                </a>
                <div class="card-body pt-0 ">
                  <div class="pt-3 pe-5 d-flex justify-content-center " >
                  <h6 class="card-title mb-0">
                    <a href="/content">Ara Sıcak </a>
                  </h6>
                  </div>
                </div>
                </article>
              </div>
</div>
</div>


<!--et 
tavuk
sulu yemek
ara sıcak
çorba
tatlı
zeytinyağlı
hamur işi
meze
baklagil
-->